body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  list-stylee-type: none;
  background-color: #708090;
  color: rgb(247, 247, 247);
  padding: 10px 0;
  text-align: center;
}

header .cabecario img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 60px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0;
}

main {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinha a imagem e o texto no topo */
}

.text {
  flex: 1;
  margin-right: 20px; /* Espaço entre o texto e a imagem */
}

.text h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.image img {
  max-width: 400px;
  height: auto;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .content {
    flex-direction: column;
  }

  .text {
    margin-right: 0;
    margin-bottom: 20px; /* Espaço abaixo do texto */
  }

  .image img {
    max-width: 100%; /* A imagem ocupa 100% da largura */
    margin-left: 0; /* Remove margem em telas pequenas */
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #4caf50;
    width: 100%;
    left: 0;
    top: 60px; /* Ajuste conforme a altura do header */
    padding: 0;
  }

  nav.active ul {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}
