body {
  font-family: "Arial", sans-serif;
  background-color: #dcdcdc;
  margin: 0;
  padding: 20px;
  color: #333;
}
h1 {
  text-align: center;
  color: #708090;
  margin-bottom: 20px;
}
.content {
  max-width: 930px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.text {
  line-height: 1.6;
}
img {
  float: right;
  width: 300px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}
